* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    background-image: url(../img/tekstura-material-dzhinsy-cvet-xaki-kamuflyazh-den-zashhitnika-otechestva-23-fevralya-hd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.container {   
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5% 0;  
     
}
.container-wrap {
    background-color: rgba(160, 135, 109, 0.8);  
    height: 100%;    
}
.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.img__pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.img__pic-top {
    animation: img-run 2s ease infinite alternate;
}
@keyframes img-run {
    0% {
        transform: scale(0.1) ;     
    }
    100% {
        transform: scale(1) ; 
    }
}
.title {
    font-size: 50px;
    animation: text 2s ease infinite alternate;
}
@keyframes text{
    0% {
      color: red;
    }
    50% {
      color: white;
    }
    100% {
        color: blue;
    }
  }
  .text {
  font-family: 'Merriweather', serif;
  font-size: 25px;
  font-weight: bold;
  }
  